.search-movie-result-container {
  padding: 50px;
  display: flex;

  justify-content: center;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 15px;
}

@media screen and (max-width: 1150px) {
  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 15px;
  }
}

@media screen and (max-width: 950px) {
  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
  }
}

@media screen and (max-width: 850px) {
  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 15px;
  }
}

@media screen and (max-width: 600px) {
  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
  }
}
