.container-movie-information {
  width: 100%;
  /* border: 1px solid red; */
}

.header-content-container {
  /* border: 1px solid orange; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  padding: 90px;
  background: var(--light-background);
}

.header-content {
  /* border: 1px solid green; */
  display: flex;
  width: 98%;
}

.header-content-title {
  /* border: 1px solid blue; */
  flex-direction: column;
  font-size: 40px;
  margin-left: 15px;
  font-family: 'PT Sans Caption', cursive;
  color: var(--white);
}

.header-content-title i {
  font-size: 30px;
  color: var(--grey-menu);
  cursor: pointer;
}

.header-content-title :first-child {
  margin-left: 10px;
  font-weight: 100;
}

.header-content-title :last-child {
  margin-left: 15px;
}

.header-content-overview {
  font-size: 20px;
}
