.container {
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.main-image {
  padding: 270px 0;
  width: 65%;
  z-index: 0;
  background: url('/src/images/wallpaper-home.jpg') center no-repeat;
}

.content-text {
  position: absolute;
  top: 0;
  font-family: 'PT Sans Caption', sans-serif;
  width: 65%;
  height: 620px;
}

.content-title {
  font-size: 50px;
  color: var(--white);
  position: absolute;
  margin-top: 290px;
  margin-left: 50px;
  top: 0;
}

.content-description {
  font-size: 30px;
  color: var(--white);
  position: absolute;
  margin-top: 390px;
  margin-left: 60px;
}

.content-description strong {
  font-weight: 100;
  color: var(--green-cyan);
}

.input-container {
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  bottom: 0;
  margin-bottom: 60px;
  text-align: center;
  width: 100%;
  height: 54px;
}

.input-button-wrapper {
  width: 84%;
  position: absolute;
  display: flex;
  text-align: center;
}

input {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 25px;
  padding: 9px;
  width: 98%;
  outline: none;
}

button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'PT Sans Caption', sans-serif;
  border: 0;
  padding: 15px;
  font-size: 20px;
  width: 150px;
  border-radius: 20px;
  background-color: var(--green-cyan);
  cursor: pointer;
  outline: none;
}
.teste {
  border: 1px solid red;
  width: 50%;
}

@media screen and (max-width: 850px) {
  .main-image {
    width: 100%;
    padding: 170px 0;
    background: url('/src/images/wallpaper-home.jpg') top no-repeat;
  }

  .content-text {
    position: absolute;
    /* border: 1px solid orange; */
    top: 0;
    font-family: 'PT Sans Caption', sans-serif;
    width: 100%;
    height: 420px;
  }

  .content-title {
    font-size: 45px;
    margin-top: 150px;
    margin-left: 20px;
    font-weight: 600;
  }

  .content-description {
    font-size: 25px;
    margin-top: 230px;
    margin-left: 40px;
    font-weight: 600;
  }

  .content-description strong {
    font-weight: 600;
  }

  .input-container {
    height: 20px;
  }

  input {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 15px;
    padding: 9px;
    width: 98%;
    outline: none;
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-family: 'PT Sans Caption', sans-serif;
    border: 0;
    padding: 15px;
    font-size: 13px;
    width: 100px;
    border-radius: 20px;
    background-color: var(--green-cyan);
    cursor: pointer;
    outline: none;
  }
}
