.NavbarItems {
  background-color: var(--smooth-black);
  font-family: 'Fredoka One', cursive;
  display: flex;
  align-items: center;
  height: 80px;
  position: sticky;
  z-index: 1;
}

.menu-icon {
  display: none;
}

.brand a {
  color: var(--green-cyan);
  font-size: 37px;
  text-decoration: none;
  margin-left: 25px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  text-align: initial;
  margin-top: 25px;
  list-style-type: none;
}

.nav-menu li {
  margin-left: 35px;
}

.nav-menu a {
  color: var(--grey-menu);
  font-size: 20px;
  text-decoration: none;
}

.nav-menu a:hover {
  color: var(--white);
  font-size: 22px;
}

.nav-menu a:focus {
  color: var(--white);
  font-size: 22px;
}

/* Fix bug when press to inspect */
@media screen and (max-width: 880px) {
  .menu-icon {
    display: flex;
    position: absolute;
    right: 0;
    padding: 20px;
    font-size: 30px;
    color: white;
    z-index: 1;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 200px;
    height: 500px;
    position: absolute;
    top: 55px;
    left: -100%;
    transition: all 0.5s ease;
    background-color: var(--smooth-black);
  }
  .nav-menu li {
    margin-bottom: 30px;
  }
  .nav-menu.active {
    transition: all 0.6s ease;
    left: 0px;
  }
}
