.container {
  background-color: var(--smooth-black);
  padding: 15px;
  border: 1px solid red;
  font-family: 'Fredoka One', cursive;
}

.inner-content {
  display: flex;
  align-items: center;
}

.brand a {
  color: var(--green-cyan);
  font-size: 37px;
  text-decoration: none;
  margin-left: 25px;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin-top: 10px;
  margin-left: 35px;
}

.nav-links a {
  color: var(--grey-menu);
  font-size: 20px;
  text-decoration: none;
}
