.main-image-mylist {
  padding: 270px 0;
  width: 65%;
  z-index: 0;
  background: url('/src/images/wallpaper-mylist.PNG') center no-repeat;
}
.title-section {
  width: 82%;
  display: flex;
  justify-content: flex-end;
}

.title-section .slider-section {
  margin: 0;
  border-radius: 40px;
}

.title-section .slider-section h1 {
  font-size: 18px;
  font-weight: 600;
}

.no-movies-container {
  text-align: center;
  font-family: 'Fredoka One', cursive;
  color: var(--grey-menu);
  margin-top: 100px;
}
